include forms
include ../components/message

mixin dropdown(field, options)
	.form-group
		label.col-sm-2.col-sm-offset-2.control-label #{field.label}
		.col-sm-6
			select.form-control(name="#{field.fieldName}" data-bind="value: #{field.fieldName}, options: #{options}, optionsText: 'label', optionsValue: 'index'")
				block
		if field.help
			.col-sm-2
				.questionmarkicon(data-toggle="tooltip" data-placement="bottom" data-original-title="#{field.help}")

mixin sheets-dropdown()
	+dropdown({label: 'Sheet', fieldName: 'sheet'}, 'sheetOptions')

mixin row-dropdown(field)
	+dropdown(field, 'columns')
		
mixin optional-row-dropdown(field)
	+dropdown(field, 'optionalColumns')

mixin excel-import()
	.form-group
		label.col-sm-2.col-sm-offset-2.control-label File
		.col-sm-6
			input#excelFileLocation.form-control(type="text" data-bind="textInput: fileLocation" name="fileLocation")
		.col-sm-2
			button.btn.btn-default(type="button", data-bind="click: browseExcelFile") Browse...	
	div(data-bind="visible: showInput()" style="display: none;")
		+sheets-dropdown()
		+checkbox('Header row', 'useHeaderRow')
		legend Map columns
		+row-dropdown({label: "Date", fieldName: "JournalDate", help: "The date the journal applies to. Used to determine whether the journal applies to the current period or not. This is required."})
		+optional-row-dropdown({label: "Creation time", fieldName: "Created", help: "The time and date the journal was created. Used to search for journals posted outside of working hours and year-end journals"})
		+optional-row-dropdown({label: "Created by", fieldName: "Username", help: "The name or ID of the user who created the journal"})
		+optional-row-dropdown({label: "Amount", fieldName: "Amount", help: "The net/gross value of the journal"})
		+optional-row-dropdown({label: "Nominal code", fieldName: "AccountCode", help: "The nominal code which the journal has been posted to"})
		+optional-row-dropdown({label: "Nominal name", fieldName: "AccountName", help: "The name or description of the nominal code"})
		+optional-row-dropdown({label: "Description", fieldName: "Description", help: "A description of the journal"})
		+optional-row-dropdown({label: "ID", fieldName: "Id", help: "The ID of the journal. Multiple rows with the same ID will be combined into one journal."})
	+errorMessage('errorMessage', true)