mixin form-field(label)
	.form-group
		label.col-sm-2.col-sm-offset-2.control-label #{label}
		.col-sm-6
			block

mixin button-group()
	+form-field('')
		.button-group.pull-right
			block

mixin checkbox(field)
	.form-group
		.col-sm-6.col-sm-offset-4
			.checkbox
				label
					input(type="checkbox", data-bind="checked: #{field.fieldName}")
					| #{field.label}

mixin dropdown(field, options)
	.form-group
		label.col-sm-2.col-sm-offset-2.control-label #{field.label}
		.col-sm-6
			select.form-control(name="#{field.fieldName}" data-bind="value: #{field.fieldName}, options: #{options}, optionsText: 'label', optionsValue: 'index'")
		if field.help
			.col-sm-2
				.questionmarkicon(data-toggle="tooltip" data-placement="bottom" data-original-title="#{field.help}")